fastapi==0.111.0
uvicorn==0.29.0

pymongo==4.7.2
motor==3.4.0
dnspython==2.8.0

pydantic==2.13.4
pydantic-settings==2.14.1

python-dotenv==1.0.1
python-jose==3.3.0
passlib==1.7.4
bcrypt==4.0.1

python-multipart==0.0.9
email-validator==2.3.0

qrcode==7.4.2
Pillow==10.3.0

PyMuPDF==1.27.2.3

langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-groq

chromadb

sentence-transformers

requests

aiofiles==23.2.1

torch --index-url https://download.pytorch.org/whl/cpu